<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block styles %}
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('semanticui.static', filename='css/semantic.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('semanticui.static', filename='css/icon.min.css') }}"/>
    {% endblock %}
    {% block script %}
        <script src="{{ url_for('semanticui.static', filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('semanticui.static', filename='js/semantic.min.js') }}"></script>
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block messages %}
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
