
body {
    font-family: sans-serif;
    background-color: #F9F9F9;
}

/*divs*/

.title {
    text-align: center;
    margin: 5em 0em 4em 0em;
}

.tablebox {
    width: 50%;
    margin: auto;
    padding-bottom: 1em;
}

.ui.mymenu.menu {
    background-color: #1b5e20;
    color: #fff;
}

.buttonspace {
    padding-bottom: 0.5em;
}

/*fonts*/

t1 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #494949;
}

t2 {
    font-family: sans-serif;
    font-size: 1.5em;
    color: #494949;
}

t3 {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #494949;
}

t4 {

}

tnorm {
    font-family: sans-serif;
    font-size: 1em;
    color: #494949;
}
