{% macro render_field(field) %}
    {% if (field.type == 'StringField' or field.type == 'IntegerField') %}
        {% if field.errors %}
            <div class="field error">
        {% else %}
            <div class="field">
        {% endif %}
    {{ field.label }}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="ui pointing below red basic label">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {{ field(**kwargs)|safe }}
    </div>
    {% elif field.type == 'SelectField' %}
        <div class="field">
        {% if field.errors %}
            <div class="ui mymindrop selection dropdown error">
        {% else %}
            <div class="ui mymindrop selection dropdown">
        {% endif %}
    <input type="hidden" name="{{ field.id }}">
    <i class="dropdown icon"></i>
    <div class="default text">{{ field.label.text }}</div>
    <div class="menu">
        {% for value, label in field.choices %}
            <div class="item" data-value="{{ value }}">{{ label }}</div>
        {% endfor %}
    </div>
    </div>
    </div>
    {% elif field.type == 'BooleanField' %}
        {% if field.errors %}
            <div class="field error">
        {% else %}
            <div class="field">
        {% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="ui pointing below red basic label">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="ui checkbox">
        {{ field(**kwargs)|safe }}
        {{ field.label }}
    </div>
    </div>
    {% else %}
        ERROR
    {% endif %}
{% endmacro %}