{% macro render_field(field) %}
    {% if (field.type == 'StringField' or field.type == 'IntegerField') %}
        {% if field.errors %}
            <div class="field error">
        {% else %}
            <div class="field">
        {% endif %}
    {{ field.label }}
    {% if field.errors %}
        {% for error in field.errors %}
            <div class="ui pointing below red basic label">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {{ field(**kwargs)|safe }}
    </div>
    {% elif field.type == 'SelectField' or field.type =='QuerySelectField' %}
        <div class="field">
        {% if field.errors %}
            <div class="ui mymindrop selection dropdown error">
        {% else %}
            <div class="ui mymindrop selection dropdown">
        {% endif %}
    <input type="hidden" name="{{ field.id }}">
    <i class="dropdown icon"></i>
    <div class="default text">{{ field.label.text }}</div>
    <div class="menu">
        {% if field.type == 'SelectField' %}
            {% for value, label in field.choices %}
                <div class="item" data-value="{{ value }}">{{ label }}</div>
            {% endfor %}
        {% else %}
            {% for drive in query %}
                <div class="item" data-value="{{ drive.name }}">{{ drive.name }}: {{ drive.model }}
                    ({{ drive.size|filesizeformat(true) }})
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>
    {% elif field.type == 'BooleanField' or field.type == 'ToggleBooleanField' %}
        {% if field.errors %}
            <div class="field error">
        {% else %}
            <div class="field">
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="ui pointing below red basic label">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if field.type == 'BooleanField' %}
            <div class="ui checkbox">
        {% else %}
            <div class="ui toggle checkbox">
        {% endif %}
    {{ field(**kwargs)|safe }}
    {{ field.label }}
    </div>
    </div>
    {% elif field.type == 'RadioField' %}
        {% if field.label.text is defined and field.label.text|length %}
            <label>{{ field.label.text }}</label>
        {% endif %}
        {% for value, label in field.choices %}
            <div class="field">
                <div class="ui radio checkbox">
                    {% if value == 1 %}
                        <input type="radio" name="{{ field.id }}" value="{{ value }}" checked="">
                    {% else %}
                        <input type="radio" name="{{ field.id }}" value="{{ value }}">
                    {% endif %}
                    <label>{{ label }}</label>
                </div>
            </div>
        {% endfor %}
    {% elif field.type == 'SubmitField' %}
        <a onclick="history.back(-1)">
            <div class="ui button">
                Zurück
            </div>
        </a>
        <button class="ui primary button" type="submit">{{ field.label }}</button>
    {% elif field.type == 'SemanticMultiSelectField' %}
        <div class="inline field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="ui pointing below red basic label">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if field.errors %}
            <div class="ui fluid multiple search selection dropdown error">
        {% else %}
            <div class="ui fluid multiple search selection dropdown">
        {% endif %}
    <input type="hidden" name="{{ field.id }}">
    <i class="dropdown icon"></i>
    <div class="default text">{{ field.label.text }}</div>
    <div class="menu">
        {% for value, label in field.choices %}
            <div class="item" data-value="{{ value }}">{{ label }}</div>
        {% endfor %}
    </div>
    </div>
    </div>
    {% else %}
        ERROR
    {% endif %}
{% endmacro %}