{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="title">
  <t1>Über Dirkules</t1>
</div>
<div class="tablebox">
  <t3>Dirkules Version {{ version }}</t3>
  <tnorm>
    <p>
      Dirkules - Benannt nach einem großartigen Mitbewohner. Immer zur Stelle, um deinen Server zu überwachen.
    </p>
    <p>
      Das Projekt soll eine kleine, schnelle und einfache Weboberfläche erschaffen, welche es ermöglicht, die Wichtigesten Informationen sofort zu erfassen und ein paar kleine Einstellungen vorzunehmen.
    </p>
  </tnorm>
</div>
{% endblock %}
