<!DOCTYPE html>

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% load static %}
        <link rel="shortcut icon" href="{% static "favicon.ico" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/icon.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/myStyle.css" %}"/>
        <!-- JQuery -->
        <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
        <!-- Semantic UI -->
        <script src="{% static "js/semantic.min.js" %}"></script>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
<nav class="ui mymenu inverted massive menu">
    <a class="item" href=""><i class="smile icon"></i> Startseite</a>
    <a class="item" href="/nzbget"><i class="download icon"></i> NZBGet</a>
    <a class="item" href=""><i class="hdd icon"></i> Festplatten</a>
    <a class="item" href=""><i class="server icon"></i> Pools</a>
    <a class="item" href=""><i class="trash icon"></i> Cleaning</a>
    <a class="item" href="{% url "samba:index" %}"><i class="share alternate icon"></i> Samba</a>
    <div class="right menu">
        <a class="ui item" href="">über Dirkules</a>
    </div>
</nav>

{% block body %}
{% endblock %}
</body>
<script>
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
</script>
</html>
