{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
            <a href="{{ url_for('add_cleaning') }}">
                <div class="ui primary labeled icon button">
                    <i class="plus icon"></i> Ordner hinzufügen
                </div>
            </a>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Status</th>
                <th>Job Name</th>
                <th>Pfad</th>
                <th>Letzte Ausführung</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
