{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
            <a href="{{ url_for('add_cleaning') }}">
                <div class="ui primary labeled icon button">
                    <i class="plus icon"></i> Ordner hinzufügen
                </div>
            </a>

        <table class="ui celled fixed table">
            <thead>
            <tr>
                <th>Status</th>
                <th>Job Name</th>
                <th>Pfad</th>
                <th>Letzte Ausführung</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            {% for element in elements %}
            <tr>
                <td>{{ element.state }}</td>
                <td>{{ element.name }}</td>
                <td>{{ element.path }}</td>
                <td>{{ element.time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
