{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="title">
  <t1>Festplatten</t1>
</div>
<div class="tablebox">
  <table class="striped">
    <thead>
      <tr>
        <th>Laufwerk</th>
        <th>Name</th>
        <th>Speicherplatz</th>
        <th>SMART Status</th>
        <th>Aktionen</th>
      </tr>
    </thead>

    <tbody>
      {% for drive in drives %}
      <tr>
        <td>{{drive.name}}</td>
        <td>{{drive.model}}</td>
        <td>{{drive.size|filesizeformat(true)}}</td>
        <td>{{drive.smart}}</td>
        <td>
          <a href="{{ url_for('partitions', part=(drive.name | replace("/", "_"))) }}" class="waves-effect waves-light btn">
            <i class="material-icons left">list</i>
            Partitionen
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
