{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
        <h1 class="ui header">Festplatten</h1>
        <div class="ui divider"></div>

        <table class="ui very basic celled table">
            <thead>
            <tr>
                <th>Laufwerk</th>
                <th>Name</th>
                <th>Speicherplatz</th>
                <th>SMART</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            {% for drive in drives %}
                <tr>
                    <td class="collapsing"><i class="hdd icon"></i> {{ drive.name }}</td>
                    <td>{{ drive.model }}</td>
                    <td>{{ drive.size|filesizeformat(true) }}</td>
                    {% if drive.smart %}
                        <td class="collapsing center aligned"><i class="large green checkmark icon"></i></td>
                    {% else %}
                        <td class="collapsing error center aligned"><i class="attention icon"></i></td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('partitions', part=(drive.name | replace("/", "_"))) }}"
                           class="ui blue button">
                            <i class="server icon"></i>
                            Partitionen
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ui divider"></div>
    <div class="ui container">
        <h1 class="ui header">Nutzbarer Speicher</h1>
        <div class="ui divider"></div>

        <table class="ui very basic celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Zugehörige Partitionen</th>
                <th>Dateisystem</th>
                <th>Mountpoint</th>
            </tr>
            </thead>

            <tbody>
            {% for storage in mem %}
                <tr>
                    {% if storage.label|length %}
                    <td class="collapsing"><i class="download icon"></i> {{ storage.label }}</td>
                    {% else %}
                        <td class="collapsing"><i class="download icon"></i>Namenlos</td>
                    {% endif %}
                    <td>{{ storage.part }}</td>
                    <td>{{ storage.fs }}</td>
                    <td class="collapsing">{{ storage.mpoint }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
