{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="title">
  <t1>Willkommen!</t1>
</div>
<div class="tablebox">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Service</th>
      </tr>
    </thead>

    <tbody>
      {% for key in service %}
      <tr>
        {% if service[key] %}
        <td><i class="check circle icon"></i></td>
        {% else %}
        <td><i class="times circle icon"></i></td>
        {% endif %}
        <td>{{ key }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
