{% extends "base.html" %}
{% block title %}Pools{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="topspacer"></div>
    <div class="ui container">
        <h1 class="ui dividing header">Aktionen</h1>
        <div class="ui container">
            <a href="{{ url_for('add_pool') }}">
            <div class="ui primary labeled icon button">
                <i class="plus icon"></i> Neuen Pool erstellen
            </div>
        </a>
        </div>
        <h1 class="ui dividing header">Übersicht</h1>
        <div class="ui segment">
            <table class="ui very basic celled table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Größe</th>
                    <th>Frei</th>
                    <th>Typ</th>
                    <th>Dateisystem</th>
                    <th>Mountpoint</th>
                    <th>Disks</th>
                    <th>Aktionen</th>
                </tr>
                </thead>

                <tbody>
                {% for pool in pools %}
                    <tr>
                        <td><i class="download icon"></i> {{ pool.label }}</td>
                        <td class="right aligned">{{ pool.size|filesizeformat(true) }}</td>
                        <td class="right aligned">{{ pool.free|filesizeformat(true) }}</td>
                        <td>{{ pool.raid }}</td>
                        <td>{{ pool.fs }}</td>
                        <td>{{ pool.mountpoint }}</td>
                        <td>{{ pool.drives }}</td>
                        <td>
                            <a href="{{ url_for('pool', pool=(pool.id)) }}"
                               class="ui primary basic button">
                                <i class="eye icon"></i>
                                Details
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
