{% extends "base.html" %}
{% block title %}Pools{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="topspacer"></div>
    <div class="ui container">
        <div class="infobox">
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="header">
                    Hinweis
                </div>
                <p>
                    Ein Pool muss eingehängt sein, um alle Informationen, wie Größe, RAID-Level und Mountoptions,
                    korrekt einzulesen.
                </p>
            </div>
        </div>
        <a href="{{ url_for('add_pool') }}">
            <div class="ui primary labeled icon button">
                <i class="plus icon"></i> Neuen Pool erstellen
            </div>
        </a>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Größe</th>
                <th>Frei</th>
                <th>Typ</th>
                <th>Dateisystem</th>
                <th>Mountpoint</th>
                <th>Disks</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            {% for pool in pools %}
                <tr>
                    <td><i class="download icon"></i> {{ pool.label }}</td>
                    <td class="right aligned">{{ pool.size|filesizeformat(true) }}</td>
                    {% if pool.free == 2 %}
                        <td class="right aligned">unbekannt</td>
                    {% else %}
                        <td class="right aligned">{{ pool.free|filesizeformat(true) }}</td>
                    {% endif %}
                    <td>{{ pool.data_raid }}</td>
                    <td>{{ pool.fs }}</td>
                    {% if pool.mountpoint|length %}
                        <td>{{ pool.mountpoint }}</td>
                    {% else %}
                        <td>nicht eingehängt</td>
                    {% endif %}
                    <td>{{ pool.drives }}</td>
                    <td>
                        <a href="{{ url_for('pool', pool=(pool.id)) }}"
                           class="ui primary basic button">
                            <i class="eye icon"></i>
                            Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
