{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
        <t2>Neue Samba Share einrichten</t2>
        {% from "_formhelpers.html" import render_field %}
        <form method=post class="ui form error">
            <h4 class="ui dividing header">Allgemeine Informationen</h4>
            <div class="field">
                {{ render_field(form.jobname) }}
                {{ render_field(form.path) }}
                {{ render_field(form.active) }}
            </div>
            <h4 class="ui dividing header">Erweiterte Informationen</h4>
            <div class="field">

            </div>
            <button class="ui button" type="submit"><i class="save icon"></i> Job speichern</button>
        </form>
    </div>
{% endblock %}
