{% extends "base.html" %}
{% block title %}Freigabe hinzufügen{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
        {% from "_formhelpers.html" import render_field %}
        {% if form.errors %}
            <form method=post class="ui form error">
        {% else %}
            <form method=post class="ui form">
        {% endif %}
            {{ form.hidden_tag() }}
            <h4 class="ui dividing header">Allgemeine Informationen</h4>
            {{ render_field(form.name) }}
            <div class="fields">
                {{ render_field(form.writeable) }}
                {{ render_field(form.recycling) }}
                {{ render_field(form.btrfs) }}
            </div>
            <h4 class="ui dividing header">Erweiterte Informationen</h4>
            {{ render_field(form.path) }}
            <div class="fields">
                {{ render_field(form.user) }}
                {{ render_field(form.create_mask) }}
                {{ render_field(form.dir_mask) }}
            </div>
            {{ render_field(form.submit) }}
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>
{% endblock %}