{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
    <t2>Feste Bestandteile der<i> Samba global conf</i></t2>
        <div class="ui segment">
            {% for line in conf %}
                {{ line }}<br>
            {% endfor %}
        </div>
    <t2>Veränderbare Bestandteile der<i> Samba global conf</i></t2>
    {% from "_formhelpers.html" import render_field %}
    <form method=post class="ui form error">
            {{ render_field(form.workgroup) }}
            {{ render_field(form.server_string) }}
            {{ render_field(form.submit) }}
    </form>
    </div>
{% endblock %}
