{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="ui container">
        <t2>Feste Bestandteile der<i> Samba global conf</i></t2>
        <div class="ui segment">
            {% for line in conf %}
                {{ line }}<br>
            {% endfor %}
        </div>
        <t2>Veränderbare Bestandteile der<i> Samba global conf</i></t2>
        <form method=post class="ui form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
