{% extends "base.html" %}
{% block title %}Samba{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="topspacer"></div>
    <div class="ui container">
        <a href="{{ url_for('.config') }}">
            <div class="ui primary labeled icon button">
                <i class="edit icon"></i> Konfigurieren
            </div>
        </a>
        <a href="{{ url_for('.add') }}">
            <div class="ui primary labeled icon button">
                <i class="plus icon"></i> Freigabe hinzufügen
            </div>
        </a>
        <a href="{{ url_for('.generate') }}">
            <div class="ui primary labeled icon button">
                <i class="magic icon"></i> Generieren
            </div>
        </a>
        <table class="ui celled fixed table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Pfad</th>
                <th>Papierkorb</th>
                <th>BtrFS Optimierungen</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            {% for share in shares %}
                <tr>
                    <td>{{ share.name }}</td>
                    <td>{{ share.path }}</td>
                    <td>{{ share.recycle }}</td>
                    <td>{{ share.btrfs }}</td>
                    <td>{% if share.enabled %}
                        <a href="{{ url_for('.index', disable=share.id) }}">
                            <div class="ui negative labeled icon button">
                                <i class="pause icon"></i> Exkludieren
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.index', enable=share.id) }}">
                            <div class="ui positive labeled icon button">
                                <i class="play icon"></i> Inkludieren
                            </div>
                        </a>
                    {% endif %}
                        <a href="{{ url_for('.remove', share=share.id) }}">
                            <div class="ui orange icon button">
                                <i class="trash icon"></i>
                            </div>
                        </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
