{% extends "base.html" %}
{% block title %}Samba{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="topspacer"></div>
    <div class="ui container">
        <a href="{{ url_for('.config') }}">
            <div class="ui primary labeled icon button">
                <i class="edit icon"></i> Konfigurieren
            </div>
        </a>
        <a href="{{ url_for('.add') }}">
            <div class="ui primary labeled icon button">
                <i class="plus icon"></i> Freigabe hinzufügen
            </div>
        </a>
        <a href="{{ url_for('.generate') }}">
            <div class="ui primary labeled icon button">
                <i class="magic icon"></i> Generieren
            </div>
        </a>
        <table class="ui celled padded table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Pfad</th>
                <th class="collapsing">Papierkorb</th>
                <th class="collapsing">BtrFS Modul</th>
                <th>Aktionen</th>
            </tr>
            </thead>

            <tbody>
            {% for share in shares %}
                <tr>
                    <td>{{ share.name }}</td>
                    <td>{{ share.path }}</td>
                    {% if share.recycle %}
                        <td class="collapsing"><i class="check icon"></i> Aktiviert</td>
                    {% else %}
                        <td class="collapsing"><i class="close icon"></i> Deaktiviert</td>
                    {% endif %}
                    {% if share.btrfs %}
                        <td class="collapsing"><i class="check icon"></i> Aktiviert</td>
                    {% else %}
                        <td class="collapsing"><i class="close icon"></i> Deaktiviert</td>
                    {% endif %}
                    <td>{% if share.enabled %}
                        <a href="{{ url_for('.index', disable=share.id) }}">
                            <div class="ui orange icon basic button">
                                <i class="unlink icon"></i>
                            </div>
                        </a>
                    {% else %}
                        <a href="{{ url_for('.index', enable=share.id) }}">
                            <div class="ui green icon basic button">
                                <i class="linkify icon"></i>
                            </div>
                        </a>
                    {% endif %}
                        <a href="{{ url_for('.remove', share=share.id) }}">
                            <div class="ui red icon basic button">
                                <i class="trash icon"></i>
                            </div>
                        </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
