{% extends "base.html" %}
{% block title %}Freigabe entfernen{% endblock %}
{% block head %}
    {{ super() }}
    {% if show_modal %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#security')
                    .modal('show')
                ;
                $('#confirm').click(function () {
                    $('.ui.modal').modal('hide');
                });
            });
        </script>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="topspacer"></div>
    <div class="ui container">
        <h2 class="ui center aligned icon header">
            <i class="circular trash icon"></i>
            <div class="content">
                Freigabe entfernen
                <div class="sub header">Sie möchten die Samba Freigabe mit dem Namen "{{ name }}" entfernen. Bitte
                    konkretisieren und bestätigen.
                </div>
            </div>
        </h2>
        {% from "_formhelpers.html" import render_field %}
        {% if form.errors %}
            <form method=post class="ui form error">
        {% else %}
            <form method=post class="ui form">
        {% endif %}
        {{ form.hidden_tag() }}
        {{ render_field(form.remove_data) }}
        <div class="ui tiny modal" id="security">
            <div class="ui icon header">
                <i class="smile icon"></i> Authentifizierung benötigt
            </div>
            <div class="content">
                <p>Du hast ausgewählt, dass alle Daten der Freigabe restlos entfernt werden sollen. Diese Aktion ist
                    unumkehrbar!</p>
                <p>Die Sicherheitsprotokolle von Dirkules verbieten diese Aktion. Um die Aktion dennoch auszuführen,
                    bitte die Sicherheitsprotokolle überbrücken.</p>
                <p>{{ render_field(form.okay) }}</p>
            </div>
            <div class="actions">
                <div class="ui button" id="confirm">
                    Bestätigen
                </div>
            </div>
        </div>
        {{ render_field(form.submit) }}
        </form>
    </div>
{% endblock %}

