{% extends "base.html" %}
{% block title %}Add Cleaning{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="ui container">
        <div class="ui placeholder segment">
            <div class="ui two column very wide grid">
                <div class="column">
                    {% from "_formhelpers.html" import render_field %}
                    <form method=post class="ui form error">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.jobname) }}
                        {{ render_field(form.path) }}
                        {{ render_field(form.active) }}
                        {{ render_field(form.submit) }}
                    </form>
                </div>
                <div class="middle aligned column">
                    <div class="ui big button">
                        <i class="signup icon"></i> LOL
                    </div>
                </div>
            </div>
            <div class="ui vertical divider">
                Oder
            </div>
        </div>
    </div>
    <script>
        $(document).ready(
            function () {
                $('.ui.checkbox')
                    .checkbox()
                ;
            });
    </script>
{% endblock %}
